.pizza-container {
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;
    margin: 0 2px;
}
.pizza-image {
    width: 90%;
    margin: 0 auto 10px auto;
}
.pizza-name {
    display: inline-block;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-bottom: 22px;
}
.pizza-character {
    width: 100%;
    box-sizing: border-box;
    background-color: #f3f3f3;
    padding: 7px;
    span {
        display: inline-block;
        padding: 7px 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #2c2c2c;
        border-radius: 5px;
        border: 0.5px solid transparent;
        &:hover {
            cursor: pointer;
            border: 0.5px solid black;
        }
    }
    .active-style-state {
        background-color: white;
    }

    &__dough {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 6px;
        margin-bottom: 10px;
    }
    &__size {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4px;
    }
    .disabled-style {
        background-color: transparent;
        pointer-events: none;
        color: red;
    }
}
.pizza-price-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .pizza-price {
        display: inline-block;
        margin: auto 0 auto 5px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
    }
    button {
        display: flex;
        color: #fe5f1e;
        font-weight: 700;
        height: 40px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 19px;
        background: transparent;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        padding: 11px 25px;
        &:hover {
            background: #fe5f1e;
            color: white;
            cursor: pointer;
        }
    }
}
.cur-pizzas-mini {
    padding: 2px 5px;
    background: #eb5a1e;
    color: white;
    border-radius: 50%;
    margin-left: 4px;
    font-size: 13px;
    line-height: 16px;
}
.cur-pizzas {
    background: #eb5a1e;
    color: white;
    border-radius: 50%;
    margin-left: 4px;
    font-size: 13px;
    line-height: 16px;
    padding: 2px 3px;
}
