.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    &__to-basket {
        background-color: #fe5f1e;
        border: none;
        border-radius: 30px;
        padding: 12px 20px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: space-between;
        color: white;
        &:hover {
            cursor: pointer;
        }
        span {
            display: inline-block;
            margin: auto 0;
        }
    }
    &__name {
        display: flex;
    }
}
.header-logo {
    margin: auto 17px auto 0;
}
.header-name {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #181818;
}
.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
}
.to-basket__splash {
    width: 1px;
    height: 100%;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.25);
}
