.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    &__to-basket {
        height: 50px;
        background-color: orange;
        border: none;
        border-radius: 30px;
    }
    &__name {
        display: flex;
    }
}
.header-logo {
    margin: auto 17px auto 0;
}
.header-name {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #181818;
}
.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
}
