.PizzasBasket-container {
    .basket-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        &__name {
            font-weight: 700;
            color: #000000;
            @media (min-width: 360px) {
                font-size: 16px;
                line-height: 24px;
            }
            @media (min-width: 768px) {
                font-size: 24px;
                line-height: 28px;
            }
            @media (min-width: 1024px) {
                font-size: 32px;
                line-height: 39px;
            }
        }
        &__basket {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #b6b6b6;
            &:hover {
                cursor: pointer;
                color: black;
            }
        }
        &__bottom {
            button {
                font-weight: 700;
                &:hover {
                    cursor: pointer;
                }
                @media (min-width: 360px) {
                    width: 120px;
                    height: 40px;
                    border-radius: 15px;
                    font-size: 14px;
                    line-height: 16px;
                }
                @media (min-width: 768px) {
                    width: 180px;
                    height: 50px;
                    border-radius: 30px;
                    font-size: 16px;
                    line-height: 19px;
                }
                @media (min-width: 1024px) {
                    width: 210px;
                    height: 55px;
                }
            }
            &-pay {
                background-color: #fe5f1e;
                color: white;
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
            &-return {
                background-color: transparent;
                color: #d3d3d3;
                border: 1px solid #d3d3d3;
                &:hover {
                    cursor: pointer;
                    color: #000000;
                }
            }
        }
    }
    .basket-price {
        margin-bottom: 40px;
        &__first {
            font-weight: 400;
            color: #000000;
            @media (min-width: 360px) {
                font-size: 14px;
                line-height: 16px;
            }
            @media (min-width: 768px) {
                font-size: 16px;
                line-height: 18px;
            }
            @media (min-width: 1024px) {
                font-size: 22px;
                line-height: 27px;
            }
        }
        &__pizzas {
            font-weight: 700;
        }
        &__summ {
            font-weight: 700;
            color: rgba(254, 95, 30, 1);
        }
    }
    @media (min-width: 360px) {
        padding-top: 20px;
    }
    @media (min-width: 768px) {
        padding-top: 40px;
    }
    @media (min-width: 1024px) {
        padding-top: 100px;
    }
}
