@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/Proxima-Nova-extrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/proximanova_regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/proximanova_bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

html body {
    background-color: rgba(255, 223, 140, 1);
    padding: 40px;
    font-family: "Proxima Nova";
    font-style: normal;
    @media (min-width: 360px) {
        padding: 12px;
    }
    @media (min-width: 768px) {
        padding: 24px;
    }
    @media (min-width: 1024px) {
        padding: 32px;
    }
    @media (min-width: 1920px) {
        padding: 40px;
    }
}
